html, body {
  background: #A0D2DB;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #5386E4;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #F1FFE7;
}

#Idealjob img {
  width: 50px;
  height: auto;
}

#MBTI Results img {
    width: 50px;
    height: auto;
}

#container {
    width: 90%;
    max-width: 800px;
    background: #3b4974;
    margin: 30px auto;
  padding: 30px;
}

section {
  border-top: 1px solid #f0ed0d;
  padding: 20px 0 0;
}
